RewriteEngine On
 
# Force www + HTTPS
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^www\.cadagro\.com$ [NC]
RewriteRule ^(.*)$ https://www.cadagro.com/$1 [R=301,L]
  
 
#RewriteEngine On
#RewriteCond %{QUERY_STRING} .
#RewriteRule ^ - [R=404,L]
 
# Custom 404 for non-existent files/folders
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ErrorDocument 404 /404.html

 